<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Georgia</key>
	<dict>
		<key>StateCities</key>
		<array>
			<dict>
				<key>isCapital</key>
				<true/>
				<key>CityName</key>
				<string>Atlanta</string>
				<key>CityPopulation</key>
				<integer>540922</integer>
			</dict>
			<dict>
				<key>CityName</key>
				<string>Augusta</string>
				<key>CityPopulation</key>
				<integer>194343</integer>
			</dict>
			<dict>
				<key>CityName</key>
				<string>Columbus</string>
				<key>CityPopulation</key>
				<integer>190414</integer>
			</dict>
			<dict>
				<key>CityName</key>
				<string>Savannah</string>
				<key>CityPopulation</key>
				<integer>134669</integer>
			</dict>
			<dict>
				<key>CityName</key>
				<string>Athens</string>
				<key>CityPopulation</key>
				<integer>114983</integer>
			</dict>
		</array>
		<key>StateName</key>
		<string>Georgia</string>
	</dict>
	<key>Florida</key>
	<dict>
		<key>StateCities</key>
		<array>
			<dict>
				<key>isCapital</key>
				<true/>
				<key>CityName</key>
				<string>Tallahassee</string>
				<key>CityPopulation</key>
				<integer>172574</integer>
			</dict>
			<dict>
				<key>CityName</key>
				<string>Jacksonville</string>
				<key>CityPopulation</key>
				<integer>813518</integer>
			</dict>
			<dict>
				<key>CityName</key>
				<string>Miami</string>
				<key>CityPopulation</key>
				<integer>433136</integer>
			</dict>
			<dict>
				<key>CityName</key>
				<string>Tampa</string>
				<key>CityPopulation</key>
				<integer>343890</integer>
			</dict>
			<dict>
				<key>CityName</key>
				<string>St. Petersburg</string>
				<key>CityPopulation</key>
				<integer>248098</integer>
			</dict>
			<dict>
				<key>CityName</key>
				<string>Orlando</string>
				<key>CityPopulation</key>
				<integer>235860</integer>
			</dict>
		</array>
		<key>StateName</key>
		<string>Florida</string>
	</dict>
	<key>Delaware</key>
	<dict>
		<key>StateCities</key>
		<array>
			<dict>
				<key>isCapital</key>
				<true/>
				<key>CityName</key>
				<string>Dover</string>
				<key>CityPopulation</key>
				<integer>35811</integer>
			</dict>
			<dict>
				<key>CityName</key>
				<string>Wilmington</string>
				<key>CityPopulation</key>
				<integer>73069</integer>
			</dict>
			<dict>
				<key>CityName</key>
				<string>Newark</string>
				<key>CityPopulation</key>
				<integer>28547</integer>
			</dict>
			<dict>
				<key>CityName</key>
				<string>Pike Creek</string>
				<key>CityPopulation</key>
				<integer>19751</integer>
			</dict>
			<dict>
				<key>CityName</key>
				<string>Bear</string>
				<key>CityPopulation</key>
				<integer>17593</integer>
			</dict>
		</array>
		<key>StateName</key>
		<string>Delaware</string>
	</dict>
	<key>Connecticut</key>
	<dict>
		<key>StateCities</key>
		<array>
			<dict>
				<key>isCapital</key>
				<true/>
				<key>CityName</key>
				<string>Hartford</string>
				<key>CityPopulation</key>
				<integer>124512</integer>
			</dict>
			<dict>
				<key>CityName</key>
				<string>Bridgeport</string>
				<key>CityPopulation</key>
				<integer>137912</integer>
			</dict>
			<dict>
				<key>CityName</key>
				<string>New Haven</string>
				<key>CityPopulation</key>
				<integer>123330</integer>
			</dict>
			<dict>
				<key>CityName</key>
				<string>Stamford</string>
				<key>CityPopulation</key>
				<integer>118475</integer>
			</dict>
			<dict>
				<key>CityName</key>
				<string>Waterbury</string>
				<key>CityPopulation</key>
				<integer>108000</integer>
			</dict>
		</array>
		<key>StateName</key>
		<string>Connecticut</string>
	</dict>
	<key>Colorado</key>
	<dict>
		<key>StateCities</key>
		<array>
			<dict>
				<key>isCapital</key>
				<true/>
				<key>CityName</key>
				<string>Denver</string>
				<key>CityPopulation</key>
				<integer>610345</integer>
			</dict>
			<dict>
				<key>CityName</key>
				<string>Colorado Springs</string>
				<key>CityPopulation</key>
				<integer>414658</integer>
			</dict>
			<dict>
				<key>CityName</key>
				<string>Aurora</string>
				<key>CityPopulation</key>
				<integer>324655</integer>
			</dict>
			<dict>
				<key>CityName</key>
				<string>Lakewood</string>
				<key>CityPopulation</key>
				<integer>141943</integer>
			</dict>
			<dict>
				<key>CityName</key>
				<string>Fort Collins</string>
				<key>CityPopulation</key>
				<integer>138736</integer>
			</dict>
		</array>
		<key>StateName</key>
		<string>Colorado</string>
	</dict>
	<key>California</key>
	<dict>
		<key>StateCities</key>
		<array>
			<dict>
				<key>isCapital</key>
				<true/>
				<key>CityName</key>
				<string>Sacramento</string>
				<key>CityPopulation</key>
				<integer>486200</integer>
			</dict>
			<dict>
				<key>CityName</key>
				<string>Fresno</string>
				<key>CityPopulation</key>
				<integer>505479</integer>
			</dict>
			<dict>
				<key>CityName</key>
				<string>San Francisco</string>
				<key>CityPopulation</key>
				<integer>815358</integer>
			</dict>
			<dict>
				<key>CityName</key>
				<string>San Jose</string>
				<key>CityPopulation</key>
				<integer>1006892</integer>
			</dict>
			<dict>
				<key>CityName</key>
				<string>San Diego</string>
				<key>CityPopulation</key>
				<integer>1359132</integer>
			</dict>
			<dict>
				<key>CityName</key>
				<string>Los Angeles</string>
				<key>CityPopulation</key>
				<integer>3833995</integer>
			</dict>
		</array>
		<key>StateName</key>
		<string>California</string>
	</dict>
	<key>Arkansas</key>
	<dict>
		<key>StateCities</key>
		<array>
			<dict>
				<key>CityName</key>
				<string>Jonesboro</string>
				<key>CityPopulation</key>
				<integer>66196</integer>
			</dict>
			<dict>
				<key>CityName</key>
				<string>Springdale</string>
				<key>CityPopulation</key>
				<integer>66881</integer>
			</dict>
			<dict>
				<key>CityName</key>
				<string>Fayetteville</string>
				<key>CityPopulation</key>
				<integer>73372</integer>
			</dict>
			<dict>
				<key>CityName</key>
				<string>Fort Smith</string>
				<key>CityPopulation</key>
				<integer>80268</integer>
			</dict>
			<dict>
				<key>isCapital</key>
				<true/>
				<key>CityName</key>
				<string>Little Rock</string>
				<key>CityPopulation</key>
				<integer>191930</integer>
			</dict>
		</array>
		<key>StateName</key>
		<string>Arkansas</string>
	</dict>
	<key>Arizona</key>
	<dict>
		<key>StateCities</key>
		<array>
			<dict>
				<key>CityName</key>
				<string>Chandler</string>
				<key>CityPopulation</key>
				<integer>247140</integer>
			</dict>
			<dict>
				<key>CityName</key>
				<string>Glendale</string>
				<key>CityPopulation</key>
				<integer>253152</integer>
			</dict>
			<dict>
				<key>CityName</key>
				<string>Mesa</string>
				<key>CityPopulation</key>
				<integer>463552</integer>
			</dict>
			<dict>
				<key>CityName</key>
				<string>Tuscon</string>
				<key>CityPopulation</key>
				<integer>541811</integer>
			</dict>
			<dict>
				<key>isCapital</key>
				<true/>
				<key>CityName</key>
				<string>Phoenix</string>
				<key>CityPopulation</key>
				<integer>1601587</integer>
			</dict>
		</array>
		<key>StateName</key>
		<string>Arizona</string>
	</dict>
	<key>Alaska</key>
	<dict>
		<key>StateCities</key>
		<array>
			<dict>
				<key>CityName</key>
				<string>Ketchikan</string>
				<key>CityPopulation</key>
				<integer>7368</integer>
			</dict>
			<dict>
				<key>CityName</key>
				<string>College</string>
				<key>CityPopulation</key>
				<integer>13428</integer>
			</dict>
			<dict>
				<key>isCapital</key>
				<true/>
				<key>CityName</key>
				<string>Juneau</string>
				<key>CityPopulation</key>
				<integer>30988</integer>
			</dict>
			<dict>
				<key>CityName</key>
				<string>Fairbanks</string>
				<key>CityPopulation</key>
				<integer>35132</integer>
			</dict>
			<dict>
				<key>CityName</key>
				<string>Anchorage</string>
				<key>CityPopulation</key>
				<integer>286174</integer>
			</dict>
		</array>
		<key>StateName</key>
		<string>Alaska</string>
	</dict>
	<key>Alabama</key>
	<dict>
		<key>StateCities</key>
		<array>
			<dict>
				<key>CityName</key>
				<string>Tuscaloosa</string>
				<key>CityPopulation</key>
				<integer>93215</integer>
			</dict>
			<dict>
				<key>CityName</key>
				<string>Huntsville</string>
				<key>CityPopulation</key>
				<integer>176645</integer>
			</dict>
			<dict>
				<key>CityName</key>
				<string>Mobile</string>
				<key>CityPopulation</key>
				<integer>198915</integer>
			</dict>
			<dict>
				<key>isCapital</key>
				<true/>
				<key>CityName</key>
				<string>Montgomery</string>
				<key>CityPopulation</key>
				<integer>224119</integer>
			</dict>
			<dict>
				<key>CityName</key>
				<string>Birmingham</string>
				<key>CityPopulation</key>
				<integer>230650</integer>
			</dict>
		</array>
		<key>StateName</key>
		<string>Alabama</string>
	</dict>
</dict>
</plist>
